@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.navbar-brand{
    font-size: 2rem;
    color: #000000ff;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.navbar-brand span{
    color: rgba(26, 133, 248, 1);
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: #000000ff;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.search{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    height: 40px;
    width: 80%;
    margin-right: -35px;
    border-radius: 60px;
    outline: none;
    border: 2px solid rgba(26, 133, 248, 1);
}

.btn0{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    border-radius: 60px;
    background-color: rgba(26, 133, 248, 1);
    color: #fff;
    font-weight: 700;
}

.main{
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    width: 100%;
    object-fit: cover;
}

.main::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, white 100%);
}

.container1{
    padding-top: 300px;
    padding-left: 175px;
}

.main h1{
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px 4px black;
}

.btn1{
    height: 45px;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 60px;
    background-color: rgba(26, 133, 248, 1);
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 700;
    color: #fff;
    box-shadow: 2px 2px 5px black;
}

.btn1:hover{
    background-color: rgba(8, 98, 195, 1);
    transition: 0.5s;
}

.gambar1{
    width: 150px;
}

.cp-gambar1{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 500;
}

.container2 h1{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 700;
}

.container2 h6{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 300;
}

.card:hover{
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow:0px 0px 19px 4px rgba(0, 0, 0, 0.44);
    -moz-box-shadow:0px 0px 19px 4px rgba(0, 0, 0, 0.44);
    transition: 0.5s;
    cursor: pointer;
}

/* handphone */
@media (max-width: 480px) {
    .main h1{
    font-size: 1.5rem;
    }

    .main::after{
    content: '';
    position: relative;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0,0.8));
    z-index: 1;
}
}